.button {
    height: 44px;
    width: 167px;
    background: #DD783F;
    border-radius: 3px;
    border-style: none;
}

.button__text {
    font: normal 500 13px/20px 'Oxygen';
    text-align: center;

    color: #FFFFFF;
}