.button {
    height: 44px;
    width: 167px;
    background: #DD783F;
    border-radius: 3px;
    border-style: none;
}

.button__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;

    color: #FFFFFF;
}