.footer {
    background: url("../../../images/footer.png");
    height: 378px;
    border-radius: 0px;
    display: flex;
    flex-direction: column-reverse;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(35, 47, 56, 0.6);
    height: 89px;
}

.footer__logo {
    font: normal 400 26px/26px 'Lora';
    color: #FFFFFF;
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 25%;
    justify-content: flex-end;
}

.nav__text {
    font: normal 400 11px/26px 'Oxygen';
    text-decoration: none;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 20px;
}

.stopper__title {
    font: normal 400 25px/30px 'Oxygen';
    text-align: center;
    color: #EFEFEF;
    padding: 17px;
    border-bottom: 1px solid #DEDEDE
}

.footer__stopper {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 90px;
}

.stopper__enter {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.enter__window {
    height: 48px;
    width: 375px;
    background: #FFFFFF;
    border-radius: 3px 0px 0px 3px;
    border: none;
}

.enter__window_text {
    font: normal 400 12px/14px 'Roboto';
    color: #817F83;
}

.enter__button {
    height: 50px;
    width: 125px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.enter__button_text {
    font: normal 400 12px/14px 'Roboto';
    color: #F8F8F8;
}
