.header_main-background {
    background: url("../../../images/main_background.png");
    height: fit-content;
    background-size: cover;
    width: 1440px;
}

.header_second-background {
    background: #F5F5F5;
    height: 350px;
    width: 1440px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    height: 26px;
    font: normal 400 26px/26px 'Lora';
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
}

.header__navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 21%;
    justify-content: space-between;
}

.navigation__text {
    height: 20px;
    font: normal 400 12px/20px 'Oxygen';
    text-decoration: none;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:  15px 23px 5px 23px;
}

.header__context {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__text_title {
    font: normal 400 50px/51px 'Lora';
    color: #FFFFFF;
    margin-top: 108px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.header__text_description {
    font: normal 400 17px/20px 'Oxygen';
    margin: 0;
    margin-bottom: 31px;
    color: rgba(255, 255, 255, 0.63);
}

.button{
    margin-bottom: 157px; /*костыль*/
}