.section__nav {
    display: flex;
    justify-content: center;
}

.section__nav-link {
    font: normal 400 14px/20px 'Lora';
    text-decoration: none;
    color: #768088;
    padding: 22px 49px 23px 49px;
    border: 2px solid #FFFFFF;
}
  
.section__nav-link:hover {
    border: 2px solid #768088; /* изменяем цвет рамки при наведении на ссылку */
}


.section__unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font: normal 400 20px/27px 'Oxygen';
    letter-spacing: 2px;
    color: #2E2E2E;
    padding:  0px 16px 16px 16px;
    border-bottom: 1px solid #DEDEDE
}

.section__unit_background{
    height: fit-content;
    background: #F7F7F7;
    border-radius: 0px;
}

.theme {
    width: 87px;
    background: #DD783F;
    border-radius: 2px;
    margin: 20px;
}

.theme_text {
    font: normal 400 12px/13px 'Oxygen';
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    padding: 6px;
}
.theme_hide{
    background: transparent;
}
.theme_text_hide {
color: transparent;
}

.section__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}

.card {
    height: 280px;
    width: 460px;
    margin-right: 20px;
}
.card:last-child {
    margin-right: 0;
}
.card__background_road-ahead {
    background: url("../../../img/TheRoadAhead.png");
}
.card__background_fromtopdown {
    background: url("../../../img/FromTopDown.png");
}

.card__text {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-top: 110px;
}

.card__title {
    text-decoration: none;
    font: normal 400 27px/30px 'Lora';
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 7px;
    margin-left: 20px; 
    border-bottom: 2px solid transparent; 
}
.card__title:hover {
    border-bottom: 2px solid #a09f9f;
}

.card__description {
    font: normal 400 14px/25px 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    margin-left: 20px;
    margin-bottom: 12px;
    height: 25px;
    overflow: auto;
}
.card__context {
    font: normal 400 12px/35px 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
    flex-basis: 45%;
    margin-bottom: 12px;
    
    display: inline-flex;
    align-items: center;
}
.avatar {
    border-radius: 60px;
}
.card__data {
    font: normal 400 12px/35px 'Oxygen';
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    flex-basis: 45%;
    margin-bottom: 12px;
    justify-content: flex-end;
}


.section__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 68px;
    margin-bottom: 100px;
}
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.box {
    background: #FFFFFF;
    width: 170px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);
    border-radius: 3px;
    flex-basis: 26%;
    margin: 12px;
}

.box__image {
    width: 100%;
}
.box__information {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.box__text{
    padding: 14px 13px 12px 13px;
}
.box__title {
    font: normal 400 16px/19px 'Lora';
    color: #101315;

}

/* sans-serif / serif  */
.box__description {
    font: normal 400 13px/19px 'Oxygen';
    color: #7A7A7A;
    height: 38px;
    overflow: auto;
    margin-top: 7px;
}

.box__footer {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: space-evenly;
    height: 30px;
    background: #FCFCFC;
    border-radius: 0px;
    border-top: 1px solid #EFEFEF;
 

}
.box__context {
    font: normal 400 11px/35px 'Oxygen';
    color: #999999;
    flex-basis: 45%;
    margin: 0;
    display: inline-flex;
    align-items: center;
}
.box__data {
    font: normal 400 11px/35px 'Oxygen';
    color: #999999;
    display: flex;
    align-items: center;
    flex-basis: 40%;
    margin: 0;
    justify-content: flex-end;
}

.section__second-text {
    font: normal 400 24px/35px 'Oxygen';
    color: #101315;
}

.context_author {
    margin-left: 10px;
}