.header_main-background {
    height: 360px;
    width: 1440px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.header__logo {
    height: 26px;
    font: normal 400 26px/26px 'Lora';
    text-decoration: none;
    color: #2E2E2E;
}

.header__navigation {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 25%;
    justify-content: space-between;
}
.navigation__text {
    height: 20px;
    font: normal 400 12px/20px 'Oxygen';
    text-decoration: none;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #2E2E2E;
    background: transparent; 
    padding: 10px 20px 15px 20px;
    border-radius: 3px;
    
}
.navigation__text:hover {
    background: rgba(157, 156, 156, 0.259);
    padding:  10px 20px 15px 20px;
}

.header__context {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.header__text_title {
    font: normal 400 50px/51px 'Lora';
    color: #2E2E2E;
    margin-top: 90px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.header__text_description {
    font: normal 400 17px/20px 'Oxygen';
    margin: 0;
    margin-bottom: 31px;
    color: rgba(46, 46, 46, 0.63);
}